@{
    ViewBag.Title = "WDC Samples";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2><img src="~/Content/img/watson-logo.png" width="100px" />Watson Developer Cloud</h2>
        <p>
            Entregue capacidades de cómputo cognitivo en sus aplicaciones utilizando las APIs de IBM para lenguaje, visión, voz y datos.</p>
        <p><a class="btn btn-default" href="https://www.ibm.com/watson/developercloud/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2><img src="~/Content/img/bluemix-logo.png" width="100px" />Bluemix Samples</h2>
        
         <p>Ejemplos para agilizar la adopción de los servicios disponibles en Bluemix</p>
        <p><a class="btn btn-default" href="https://ibm-bluemix.github.io/">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>